*.class

# Package Files #
*.jar
*.war
*.ear
*/target/*
*/nbproject/private/*

# Mac
.DS_Store

# NetBeans
nbactions.xml
nb-configuration.xml

# Ignore catalog
catalog.xml

#Ingore backups scripts
backupscripts

